* {
    box-sizing: border-box;
}
body {
    height: 100%;
    background-color: #f9fbfd;
    display: flex;
    min-height: 40vh;
}
#topLeft {
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    font-size: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 55vw;
    height: 400px;
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: auto;
  padding: 20px;
}
.test {
    display: none;
}
#lastShown {
    width: 30vw;
    height: 400px;
    background-color: rgb(128, 128, 128);
    display: none;
    justify-content: center;
    align-items: center;
    margin: 100px;
    border: 2px solid black;
    border-radius: 3%;
    font-size: 40px;
    text-align: center;
}
h2 {
  height: 240px;
  padding: 10px;
  background: #13293d;
  color: #fff;
  text-align: center;

}
button {
  background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

#scoreDiv {
  display: none;
}
#topplayer {
  display: none;
}